<header class="navbar-fixed">
  <nav class="grey lighten-5">
    <div class="nav-wrapper ">
      <%= link_to root_path, class: "brand-logo", id: "pin" do %>
      <h4>Pinterest</h4>
      <% end %>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
       <%= link_to pins_path do%>
           <li><i class="material-icons medium">dashboard</i></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
        <% else %>
            <li><%= link_to "Login", new_user_session_path  %></li>
            <li><%= link_to "Registrati", new_user_registration_path  %></li>
        <% end %>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
        <% else %>
            <li><%= link_to "Login", new_user_session_path  %></li>
            <li><%= link_to "Registrati", new_user_registration_path  %></li>
        <% end %>
      </ul>

    </div>
  </nav>
</header>
